<manifest package="xin.framework"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application>

        <provider
            android:name="xin.framework.base.XinFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/common_file_paths"/>
        </provider>

        <activity
            android:name=".app.AppRestartBridge"
            android:process=":restart"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            />
        <activity android:name=".hybrid.activity.CommWebViewActivity"/>
    </application>

</manifest>
